{% extends 'articles/master.html' %}


{% block title %}
    Articles
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% comment %} {% if articles %} {% endcomment %}
{% comment %} <ul>
    {% for article in articles %}
        <li><a href='/articles/{{article.id}}'>{{ article.title }}</a></li> 

    {% endfor %}
</ul>
{% else %}
    <p>There is not articles yet!!</p>
{% endif %}
 {% endcomment %}
<ul>
    {% for article in articles %}
        <li><a href={% url 'articles:article' article.id %}>{{ article.title }}</a></li> 
    {% empty %}
         <p>There is not articles yet!!</p>
    {% endfor %}

</ul>
<h2> Filter Tags </h2>
<p>Mydata: {{ mydata }}</p>
<p>Length: {{ mydata | length }}</p>
<p>First Item: {{ mydata | first }}</p>
<p>Last Item: {{ mydata | last }}</p>
<p>Join Items: {{ mydata | join:'--' }}</p>
<p>Random: {{ mydata | random }}</p>
<p>String Data: {{ strdata }}</p>
<p>Capital first letter: {{ strdata | capfirst }}</p>
<p>cut letters: {{ strdata | cut:'oo' }}</p>
<p>Check Length: {% if strdata|length >= 5 %}
    Yesssss
    {% endif %}
</p>
<p>default empty: {{ '' | default:'Nothing' }}</p>
<p>default None: {{ None | default_if_none:'None Nothing' }}</p>
<p>float number : {{ number | floatformat:2 }}</p>
{% firstof var1 var2 var3 "Hello Friend" %}
{% endblock %}